/* home page */

.home-container {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     width: 100%;
     margin: 0;
     box-shadow: 0 2px 8px --drop-box-shadow-color;
     padding: 24px;
}

.home-welcome-message {
     color: var(--text-color);
}

.upcoming-event-feed {
     background-color: var(--primary-color);
     color: var(--secondary-color);
     width: 100%;
     min-height: 256px;
     padding: 8px;
}
