/* home page */

.home-container {
     background: linear-gradient(var(--fun-bright-color), var(--fun-bright-color), var(--highlight-hover-color), var(--secondary-color));
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     width: 90%;
     margin: 0;
     padding: 24px;
     color: var(--secondary-color);
     border-radius: 24px 24px 0px 0px;
}

.home-welcome-message {
     padding: 0px;
     margin: 0px;
     height: 16px;
}

/* upcoming events */

.upcoming-event-container {
     color: var(--secondary-color);
     width: 100%;
     min-height: 256px;
     padding: 8px;
}

.upcoming-event-list {
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: space-between;
}

.upcoming-event-list-item {
     list-style-type: none;
     margin: 8px;
     min-height: 250px;
     padding: 8px;
     border-radius: 16px;
}

.upcoming-event-list-item:hover {
     background-color: var(--dark-color-transparency);
}

.upcoming-event-image-save-container {
     position: relative;
     display: inline-block;
}

.upcoming-event-image {
     width: 300px;
     height: 100px;
     object-fit: cover;
     object-position: center;
     border-radius: 16px;
     display: block;
}

.upcoming-event-image-save-container .saved-event-button-container {
     position: absolute;
     top: 8px;
     right: 8px;
     z-index: 10;
}

.upcoming-event-name {
     font-weight: 800;
     font-size: 16px;
}
