.landing-container {
     background-image: linear-gradient(to bottom right, var(--darkest-purple-color), rgb(255, 156, 233));
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 90%;
     margin: 0;
     color: var(--palest-purple-color);
     border-radius: 24px 24px 0px 0px;
     /* border-radius: 24px; */
}

.landing-hero-left {
     min-width: 400px;
}

.landing-hero {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-left: 48px;
     margin-right: 48px;
     margin-top: 24px;
     width: 100%;
     padding-left: 48px;
}

.event-card-example-image {
     max-width: 70%;
     min-width: 200px;
     border-radius: 24px;
     opacity: 0.8;
}

.landing-hero-right {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 24px;
}

.landing-feature-cards {
     display: flex;
     justify-content: flex-start;
     width: 90%;
     /* border-radius: 24px; */
     border-radius: 24px 24px 0px 0px;
     gap: 8px;
     padding: 0 8px 0 8px;
     background: linear-gradient(rgba(255, 255, 255, 0.25), var(--palest-purple-color));
     margin-top: 80px;
}

.feature-card {
     color: var(--darkest-blue-color);
     border-radius: 8px;
     padding: 16px;
     min-width: 25%;
     min-height: 300px;
}

.feature-card-header {
     font-size: 18px;
}

.feature-card-blurb {
     font-size: 14px;
     color: var(--darkest-blue-color);
}

@media (max-width: 800px) {
     .landing-hero {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
     }

     .landing-hero-left {
          min-width: 200px;
          padding: 24px;
     }

     .landing-feature-cards {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          width: 90%;
          /* border-radius: 24px; */
          border-radius: 24px 24px 0px 0px;
          gap: 8px;
          padding: 0 8px 0 8px;
          background: linear-gradient(rgba(255, 255, 255, 0.25), var(--palest-purple-color));
          margin-top: 48px;
     }

     .feature-card {
          padding: 16px;
          min-width: 25%;
          min-height: 80px;
     }
}

/* buttons */

.landing-get-started-button {
     background: linear-gradient(to bottom right, var(--hot-pink-color), var(--light-hot-pink-color));
     border: none;
     border-radius: 16px;
     width: 125px;
     height: 50px;
     font-size: 16px;
     color: white;
     font-weight: 200;
     font-family: "Manrope", san-serif;
     box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.134);
}

.landing-get-started-button:hover{
     cursor: pointer;
}