.login-register-container {
     background: linear-gradient(var(--darkest-purple-color), var(--darkest-purple-color), var(--medium-purple-color), var(--palest-purple-color));
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     width: 90%;
     margin: 0;
     padding: 16px;
     color: var(--palest-purple-color);
     border-radius: 24px 24px 0px 0px;
}

.login-header {
     font-weight: 200;
}
.login-label {
     font-weight: 600;
}

.login-input {
     background-color: transparent;
     font-family: "Manrope", san-serif;
     background-color: rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     border: none;
     font-weight: 200;
     color: white;
     min-height: 24px;
     margin-top: 4px;
     margin-bottom: 4px;
}

/* buttons */

.login-button {
     background: transparent;
     border: solid var(--darkest-blue-color);
     border-radius: 8px;
     color: var(--darkest-blue-color);
     margin: 8px;
     font-size: 16px;
}

.login-button:hover {
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.25);
}
