/* My Events */

.my-events-container {
     background: linear-gradient(var(--darkest-purple-color), var(--darkest-purple-color), var(--medium-purple-color), var(--palest-purple-color));
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     width: 90%;
     margin: 0;
     padding: 16px;
     color: var(--palest-purple-color);
     border-radius: 24px 24px 0px 0px;
}

.my-events-list-item {
     list-style-type: none;
}
