/* My Events */

.my-events-container {
     background: linear-gradient(var(--darkest-purple-color), var(--hot-pink-color));
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     width: 90%;
     margin: 0;
     padding: 16px;
     color: var(--palest-purple-color);
     border-radius: 24px 24px 0px 0px;
}

.my-events-list-item {
     list-style-type: none;
     margin: 24px;
     display: flex;
}

.saved-event-image {
     width: 100px; /* place holder */
     margin: 8px;
     border-radius: 8px;
}

.saved-event-name {
     font-weight: 800;
}

.remove-event-button {
     background: transparent;
     border: solid white;
     border-radius: 8px;
     color: white;
}

.remove-event-button:hover {
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.25);
}
