/* my events */

.my-events-container {
     background: linear-gradient(var(--darkest-purple-color), var(--palest-purple-color));
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     width: 90%;
     margin: 0;
     padding: 16px;
     color: var(--palest-purple-color);
     border-radius: 24px 24px 0px 0px;
}

.my-events-header {
     font-weight: 200;
}

.my-events-list-item {
     list-style-type: none;
     margin: 24px;
     display: flex;
     color: var(--darkest-blue-color);
}

.saved-event-image {
     width: 100px; /* place holder */
     margin: 8px;
     border-radius: 8px;
}

.saved-event-name {
     font-weight: 800;
}

@media (max-width: 800px) {
     .my-events-list-item {
          list-style-type: none;
          margin: 24px;
          display: flex;
          flex-direction: column;
          color: var(--darkest-blue-color);
     }
}

/* buttons */

.remove-event-button {
     background: transparent;
     border: solid var(--darkest-blue-color);
     border-radius: 8px;
     color: var(--darkest-blue-color);
}

.remove-event-button:hover {
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.25);
}
