.notifications-container {
     background: linear-gradient(var(--darkest-purple-color), var(--palest-purple-color));
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     width: 90%;
     margin: 0;
     padding: 16px;
     color: var(--palest-purple-color);
     border-radius: 24px 24px 0px 0px;
}

.notification-display-container {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.unread-notification-display-container {
     width: 300px;
}

.read-notification-display-container {
     width: 300px;
     padding: 0;
}

.read-notification {
     list-style: none;
}

.unread-notification {
     list-style: none;
}
