.notifications-container {
     background: linear-gradient(var(--darkest-purple-color), var(--palest-purple-color));
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     width: 90%;
     margin: 0;
     padding: 16px;
     color: var(--palest-purple-color);
     border-radius: 24px 24px 0px 0px;
}

.notification-header {
     font-weight: 200;
}

.notification-display-container {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.notification-title {
     font-weight: 200;
}

.unread-notification-display-container {
     width: 300px;
}

.unread-count-message {
     font-weight: 600;
}

.read-notification-display-container {
     width: 300px;
}

.read-notification {
     list-style: none;
     margin-top: 16px;
     color: rgba(0, 0, 0, 0.25);
}

.unread-notification {
     list-style: none;
     margin-top: 16px;
     color: var(--darkest-blue-color);
}

/* buttons */

.mark-read-button {
     background: transparent;
     border: solid var(--darkest-blue-color);
     border-radius: 8px;
     color: var(--darkest-blue-color);
     margin-left: 8px;
}

.mark-read-button:hover {
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.25);
}

.mark-all-read-button {
     background: transparent;
     border: solid var(--darkest-blue-color);
     border-radius: 8px;
     color: var(--darkest-blue-color);
     min-width: fit-content;
     height: 24px;
}

.mark-all-read-button:hover {
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.25);
}

.save-mark-read-container {
     display: flex;
     flex-direction: row;
     margin-top: 4px;
}
