/* Search */

.search-container {
     background: linear-gradient(var(--darkest-purple-color), var(--darkest-purple-color), var(--medium-purple-color), var(--palest-purple-color));
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     width: 90%;
     margin: 0;
     padding: 16px;
     color: var(--palest-purple-color);
     border-radius: 24px 24px 0px 0px;
}

.search-header {
     font-weight: 200;
     text-align: center;
}

.search-bar-display {
     min-width: 100%;
}

.search-bar {
     display: flex;
     flex-direction: row;
     background-color: none;
     border: solid;
     border-radius: 32px;
     padding: 24px;
     font-size: 16px;
     align-items: center;
     height: 18px;
     display: flex;
     justify-content: space-between;
}

.search-bar-select,
.search-bar-input {
     background-color: transparent;
     color: var(--white-text-color);
     border: none;
     font-family: "Manrope", san-serif;
     text-align: center;
}

.search-bar-seperator {
     border-right: solid;
     height: 50px;
     margin-right: 8px;
     margin-left: 8px;
}

.search-bar-input::placeholder {
     color: var(--white-text-color);
     opacity: 0.7;
}

.search-bar-button {
     background-color: transparent;
     color: var(--white-text-color);
     border: none;
     font-size: 16px;
     width: 18px;
}

.search-bar-button:hover {
     cursor: pointer;
     font-size: 18px;
     width: 18px;
}

/* event search display */

.serach-events-list {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
}

.search-event-list-item {
     list-style-type: none;
     margin: 8px;
     min-height: 300px;
     padding: 8px;
     border-radius: 16px;
}

.search-event-image {
     width: 350px;
     height: 200px;
     object-fit: cover;
     object-position: center;
     border-radius: 16px;
     display: block;
}
.search-event-image-save {
     position: relative;
     display: inline-block;
}

.search-event-image-save .saved-event-button-container {
     position: absolute;
     top: 8px;
     right: 8px;
     z-index: 10;
}
