/* custom font */

.damion-regular {
     font-family: "Damion", cursive;
     font-weight: 400;
     font-style: normal;
}

/* root layout styling */
nav {
     background-color: rgb(111, 195, 226);
     color: rgb(0, 42, 57);
     font-family: Arial, Helvetica, sans-serif;
     width: 100%;
     height: 54px;
     display: flex;
     align-items: center;
     position: relative;
}

.nav-links-main {
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
}

#log-in-button {
     display: flex;
     align-items: center;
     margin-left: auto;
     margin-right: 5px;
     background-color: rgba(0, 42, 57, 0.5);
     color: white;
     border-radius: 15px;
}

a {
     color: rgb(0, 42, 57);
     text-decoration: none;
     padding: 10px 10px;
}

/* landing styling */

.landing-container {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 40px;
}

.landing-content-box {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     background-color: white;
     padding-bottom: 10%;
     width: 80vw;
     min-height: 10rem;
     margin: 0 auto;
     border-radius: 15px;
     box-shadow: 0 0 15px rgba(0, 42, 57, 0.679);
}

.welcome {
     display: flex;
     color: rgb(0, 42, 57);
     justify-content: center;
     align-items: center;
     width: 100%;
     padding: 20px;
     white-space: nowrap;
     box-sizing: border-box;
     margin-bottom: 20px;
}

.welcome-to-header-text {
     font-family: "Damion", cursive;
     width: auto;
     font-size: clamp(1.75rem, 5.5vw, 50px);
}

.event-pop-logo {
     height: clamp(80px, 15vw, 150px);
}

.landing-image-container {
     display: flex;
     justify-content: center;
     padding: 0;
     margin-bottom: 60px;
}

.landing-photo {
     width: 33.3333%;
     height: auto;
     object-fit: cover;
}
