.manrope-font > {
     font-family: "Manrope", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
}

html,
body {
     background-color: var(--palest-purple-color);
     width: 100%;
     height: 100%;
     margin: 0;
     color: var(--darkest-blue-color);
     font-family: "Manrope", sans-serif;
}
